<blockquote class="card card--testimonial {{ card_bg }} text-align-{{ text_align }}"{% if shopify_attributes != empty %} {{ shopify_attributes }}{% endif %}>
  <div class="card-body">
    {{ card_content }}
  </div>
</blockquote>